.chat-footer__container {
    justify-content: space-between;

    border-top: 1px solid #EAEAEA;
    padding: 10px 0 0 0;
}

.chat-footer__send button {
    height: 32px;
    width: 32px;
    padding: 6px 3px;
    border-radius: 100%;

    background: #3369F3;
    border: none;
    transform: rotate(180deg);
}


.buttonSend-arrow {
    max-width: 28px;
    max-height: 28px;
    width: 100%;
    height: 100%;

    color: white;
}

.chat-footer__typing textarea {
    display: flex;

    min-width: 849px;
    min-height: 32px;
    max-height: 100px;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    resize: none;
    border: none;
    outline: none;

    text-align: left;
    border-radius: 30px;
    padding-top: 10px;
    padding-left: 30px;
    background: #EFEFEF;
}

.chat-footer__typing textarea::placeholder {
    padding: 5px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;

    color: #999999;
}
