# dependencies
/node_modules
.env
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# Build output
build/
dist/

#IDEA
/.idea

# Miscellaneous
.DS_Store