.chat-list {
    padding: 10px;
    overflow-y: auto;
    list-style: none;
}

.chat-list a {
    text-decoration: none;
}

.chat-list__container {
    justify-content: space-between;
    border-top: 1px solid #EAEAEA;
    padding: 12px 0 12px 0;
}

.active {
    background-color: #e4edfd57;
}

.chat-list__content {
    gap: 10px;
}

.chat-list__content_user-name {
    gap: 4px;
}

.chat-list__content_user-name p:nth-child(1) {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: var(--color-dark);
}

.chat-list__content_user-name p:nth-child(2) {
    overflow: hidden;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-gray);
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 135px;
}

.chat-list__content_time {
    align-items: end;
    gap: 14px;
}

.chat-list__content_time p:nth-child(1) {
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    color: var(--color-gray);
}

.chat-list__content_time p:nth-child(2) {
    width: 20px;
    height: 20px;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    border-radius: 100%;
    background: var(--color-blue);
    color: var(--color-white);
}
