.auth__container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    height: auto;
    max-width: 340px;
    width: 100%;

    margin: 80px auto;
    padding: 40px 30px 30px;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    border-radius: 12px;
}

.form-data__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.auth__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.auth__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.form-data__actions a {
    color: #3369F3;
}

.error-modal {
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;

    color: #FF2F2F;
}
