.base-input__label {
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;

    color: #999999;
}

.base-input__input {
    min-width: 280px;
    border: none;
    border-bottom: 1px solid blue;
    outline: none;
}
