.profile {
    display: flex;
    flex-direction: row;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 60px;

    margin: 60px auto 109px auto;
}

.profile-avatar {
    display: flex;
    flex-direction: column;
    gap: 21px;

    align-items: center;
}

.profile-avatar p {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

.profile-buttons  {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.profile-button a {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;

    color: #3369F3;

    /*text-decoration: underline solid #EAEAEA;*/
}

.profile-button {
    border-bottom: 1px solid #EAEAEA;
    padding: 0 0 5px 0;
}

/*.profile-buttons:last-child {*/
/*    color: #FF0000;*/
/*}*/
