.reg__form {
    height: 660px;
    width: 340px;

    margin: 135px auto;
    padding: 50px 30px 30px;

    background: #FFFFFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;

    text-align: center;
}

.reg__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reg__form_form {
    max-width: 340px;
}

.reg__btn {
    display: flex;
    flex-direction: column;
}

a {
    color: #1976d2;
    font-size: 14px;
    margin: 10px 0;

    text-decoration: none;
}
