.popup-create-chat__container {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
}

.popup-create-chat__container p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #1E1E1E;
}
