.popup-edit-chat__container {
    position: absolute;

    top: 0;
    right: 0;
    height: 100%;
    width: 200%;
}

.popup-edit-chat__container_content {
    position: absolute;
    gap: 20px;

    top: 70px;
    right: 0;
    justify-content: center;
    min-width: 210px;
    padding: 15px;

    background: #FFFFFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
}

.popup-edit-chat__content_point {
    gap: 10px;

    align-items: center;
}

.popup-edit-chat__point_text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #1E1E1E;
}
