.form {
    width: 340px;
    height: 615px;
    
    margin: 52px auto;
    padding: 50px 106px 30px;

    background: #FFFFFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
}
