.profile-buttons  {
    gap: 20px;
}

.profile-button a {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #3369F3;
}

.profile-button {
    border-bottom: 1px solid #EAEAEA;
    padding: 0 0 5px 0;
}
