.modal-new-avatar__container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-new-avatar__container_label{
    cursor: pointer;
    max-width: 122px;
    text-align: center;
    text-decoration: none;
    color: var(--color-blue);
}

#upload-photo {
    display: none;
}

