.modal-chat__container {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
    width: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.4);
}

input {
    min-width: 200px;
    border: none;
    border-bottom: 1px solid blue;
    outline: none;
}
