.chat-footer__container {
    gap: 20px;
    border-top: 1px solid #EAEAEA;
    padding: 10px 0 0 0;
}

.chat-footer__input {
    min-width: 500px;
    width: 100%;
}

.chat-footer__input_inp {
    width: 100%;
    border-radius: 5px;
    background: #f6f3f3;
    padding: 5px;
}

.chat-footer__btn {
    height: 32px;
    width: 32px;
    padding: 6px 3px;
    border-radius: 100%;

    background: #3369F3;
    border: none;
    transform: rotate(180deg);
}

.chat-footer__img {
    max-width: 28px;
    max-height: 28px;
    width: 100%;
    height: 100%;

    color: white;
}