@import 'var.scss';

.text-regular {
    font-style: normal;
    font-weight: var(--text-redular);
}

.text-medium {
    font-style: normal;
    font-weight: var(--text-medium);
}

.text-semi-bold {
    font-style: normal;
    font-weight: var(--text-semi-bold);
}

.text-bold {
    font-style: normal;
    font-weight: var(--text-bold);
}

.text-extra-small {
    @extend .text-regular;
    font-size: 9px;
    line-height: 9px;
}

.text-small {
    @extend .text-regular;
    font-size: 11px;
    line-height: 11px;
}

.text-middle {
    @extend .text-regular;
    font-size: 13px;
    line-height: 13px;
}

.text-big {
    @extend .text-regular;
    color: var(--color-dark);
    font-size: 20px;
    line-height: 20px;
}

.text-extra-big {
    @extend .text-regular;
    color: var(--color-dark);
    font-size: 40px;
    line-height: 40px;
}