.message__content {
    gap: 5px;
    padding: 10px;
    max-width: 420px;
    width: 100%;
    border-radius: 5px;
}

.message__not-your_color {
    background: #F8F8F8;
}

.message__your_color {
    background: #e4f7ff;
}

.message__your_side {
    justify-content: end;
}

.message__text {
    color: var(--color-dark);
}

.message__time {
    color: var(--color-gray);
    text-align: end;
}

.message__container {
    display: flex;
}