.inputInfo-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    line-height: 20px;
    justify-content: space-between;

    border-bottom: 1px solid #EAEAEA;
    padding: 0 0 5px 0;
}

.inputInfo-container label {
    font-weight: 500;
    font-size: 13px
}

.inputInfo-input {
    min-width: 510px;
    border: none;
    outline: none;

    text-align: right;
}

input::placeholder {
    float: right;
}

input:disabled {
    background: none;
}

